* {
  font-family: 'Courier New', Courier, monospace;
}
.app {
  margin: 0 auto;
  max-width: 60%;
  background-color: rgba(212, 228, 241, 0.514);
  padding: 1em;
}
.app:hover i {
  visibility: visible;
}
i {
  font-size: 2em;
}
.app:hover li {
  color: black;
}
h1 {
  margin-left: 7%;
}
ul {
  list-style: none;
}
.collapsed {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}
li {
  border-top: 0.1em solid rgba(128, 128, 128, 0.486);
  border-bottom: 0.1em solid rgba(128, 128, 128, 0.486);
  font-size: 0.9em;
  line-height: 1.6em;
  color: blue;
}
a {
  color: inherit;
}
li:hover {
  cursor: pointer;
  font-size: 0.9em;
}

img {
  height: 0;
}
li:hover img {
  height: 20rem;
  text-align: center;
  transition: all 0.5s;
}

.target {
  text-decoration: none;
}
.target:hover {
  text-decoration: none;
  color: black;
}

.target:focus img {
  height: 20rem;
  text-align: center;
  transition: all 0.5s;
}

i {
  visibility: hidden;
}

.image {
  text-align: center;
}

@media (max-width: 550px) {
  .app {
    max-width: 80%;
  }
  h1 {
    font-size: 1.7rem;
  }
  ul {
    padding-left: 0.7rem;
  }
  li {
    font-size: 0.7rem;
  }
  li:hover {
    font-size: 0.7rem;
  }
  .target:focus img {
    height: 18rem;
    text-align: center;
    transition: all 0.5s;
  }
  li:hover img {
    height: 18rem;
    text-align: center;
    transition: all 0.5s;
  }
  @media (max-width: 320px) {
    .app {
      max-width: 80%;
    }
    h1 {
      font-size: 0.7rem;
    }
    ul {
      padding-left: 0.7rem;
    }
    li {
      font-size: 0.6rem;
    }
    li:hover {
      font-size: 0.6rem;
    }
    .target:focus img {
      height: 10rem;
      text-align: center;
      transition: all 0.5s;
    }
    li:hover img {
      height: 10rem;
      text-align: center;
      transition: all 0.5s;
    }
  }
}
