* {
  font-family: 'Courier New', Courier, monospace;
}
.app {
  margin: 0px auto;
  max-width: 60%;
  background-color: aliceblue;
  padding: 20px;
}
h1 {
  margin-left: 50px;
}
ul {
  list-style: none;
}
.collapsed {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
li {
  border-top: 0.5px solid rgba(128, 128, 128, 0.486);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.486);
  font-size: 12px;
  line-height: 16px;
}
/* img {
  height: 0px;
  margin: 0px auto;
} */
li:hover {
  cursor: pointer;
  font-size: 14px;
}
img {
  height: 0px;
}
li:hover img {
  height: 250px;
  text-align: center;
  transition: all 0.5s;
}
i {
  font-size: 28px;
}
.image {
  text-align: center;
}
